* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  word-wrap: break-word;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid, .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  word-wrap: break-word;
}
.container-fluid h1, .container-fluid h2, .container-fluid h3, .container-fluid h4, .container-fluid h5, .container-fluid h6, .container-fluid p, .container-fluid span, .container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .container p, .container span {
  grid-column: span 12;
}
.container-fluid .row, .container .row {
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  grid-column-gap: 24px;
}
.container-fluid .col-xs-1, .container .col-xs-1 {
  grid-column: span 1;
}
.container-fluid .col-xs-2, .container .col-xs-2 {
  grid-column: span 2;
}
.container-fluid .col-xs-3, .container .col-xs-3 {
  grid-column: span 3;
}
.container-fluid .col-xs-4, .container .col-xs-4 {
  grid-column: span 4;
}
.container-fluid .col-xs-5, .container .col-xs-5 {
  grid-column: span 5;
}
.container-fluid .col-xs-6, .container .col-xs-6 {
  grid-column: span 6;
}
.container-fluid .col-xs-7, .container .col-xs-7 {
  grid-column: span 7;
}
.container-fluid .col-xs-8, .container .col-xs-8 {
  grid-column: span 8;
}
.container-fluid .col-xs-9, .container .col-xs-9 {
  grid-column: span 9;
}
.container-fluid .col-xs-10, .container .col-xs-10 {
  grid-column: span 10;
}
.container-fluid .col-xs-11, .container .col-xs-11 {
  grid-column: span 11;
}
.container-fluid .col-xs-12, .container .col-xs-12 {
  grid-column: span 12;
}

.header, .footer {
  color: #FFF;
  background-color: #212121;
  align-items: center;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  padding: 24px;
}

.main {
  position: relative;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-auto-flow: row;
  padding: 24px;
}

.row {
  position: relative;
  align-items: start;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 24px;
}
.row > div {
  grid-column: span 12;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  padding: 15px;
  border: 1px solid #212121;
}

/* Media Queries */
@media only screen and (max-width: 599px) {
  .container-fluid .main, .container .main {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    padding: 16px;
  }
  .container-fluid .row, .container .row {
    grid-column-gap: 16px;
  }

  .row, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    grid-row-gap: 16px;
  }
}
@media (min-width: 600px) {
  .container-fluid .col-sm-1, .container .col-sm-1 {
    grid-column: span 1;
  }
  .container-fluid .col-sm-2, .container .col-sm-2 {
    grid-column: span 2;
  }
  .container-fluid .col-sm-3, .container .col-sm-3 {
    grid-column: span 3;
  }
  .container-fluid .col-sm-4, .container .col-sm-4 {
    grid-column: span 4;
  }
  .container-fluid .col-sm-5, .container .col-sm-5 {
    grid-column: span 5;
  }
  .container-fluid .col-sm-6, .container .col-sm-6 {
    grid-column: span 6;
  }
  .container-fluid .col-sm-7, .container .col-sm-7 {
    grid-column: span 7;
  }
  .container-fluid .col-sm-8, .container .col-sm-8 {
    grid-column: span 8;
  }
  .container-fluid .col-sm-9, .container .col-sm-9 {
    grid-column: span 9;
  }
  .container-fluid .col-sm-10, .container .col-sm-10 {
    grid-column: span 10;
  }
  .container-fluid .col-sm-11, .container .col-sm-11 {
    grid-column: span 11;
  }
  .container-fluid .col-sm-12, .container .col-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .row > .col-sm-5, .row .col-sm-6, .row .col-sm-7, .row .col-sm-8, .row .col-sm-9, .row .col-sm-10, .row .col-sm-11 {
    grid-column: span 12;
  }
  .row > .col-sm-3, .row .col-sm-4 {
    grid-column: span 6;
  }
}
@media (min-width: 600px) {
  .row > .col-md-5, .row col-lg-5, .row .col-xl-5, .row .col-md-6, .row .col-lg-6, .row .col-xl-6, .row .col-md-7, .row .col-lg-7, .row .col-xl-7, .row .col-md-8, .row .col-lg-8, .row .col-xl-8, .row .col-md-9, .row .col-lg-9, .row .col-xl-9, .row .col-md-10, .row .col-lg-10, .row .col-xl-10, .row .col-md-11, .row .col-lg-11, .row .col-xl-11 {
    grid-column: span 12;
  }
  .row > .col-md-3, .row .col-lg-3, .row .col-xl-3, .row .col-md-4, .row .col-lg-4, .row .col-xl-4 {
    grid-column: span 6;
  }
}
@media (min-width: 960px) {
  .container-fluid .col-md-1, .container .col-md-1 {
    grid-column: span 1;
  }
  .container-fluid .col-md-2, .container .col-md-2 {
    grid-column: span 2;
  }
  .container-fluid .col-md-3, .container .col-md-3 {
    grid-column: span 3;
  }
  .container-fluid .col-md-4, .container .col-md-4 {
    grid-column: span 4;
  }
  .container-fluid .col-md-5, .container .col-md-5 {
    grid-column: span 5;
  }
  .container-fluid .col-md-6, .container .col-md-6 {
    grid-column: span 6;
  }
  .container-fluid .col-md-7, .container .col-md-7 {
    grid-column: span 7;
  }
  .container-fluid .col-md-8, .container .col-md-8 {
    grid-column: span 8;
  }
  .container-fluid .col-md-9, .container .col-md-9 {
    grid-column: span 9;
  }
  .container-fluid .col-md-10, .container .col-md-10 {
    grid-column: span 10;
  }
  .container-fluid .col-md-11, .container .col-md-11 {
    grid-column: span 11;
  }
  .container-fluid .col-md-12, .container .col-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1280px) {
  .container-fluid .col-lg-1, .container .col-lg-1 {
    grid-column: span 1;
  }
  .container-fluid .col-lg-2, .container .col-lg-2 {
    grid-column: span 2;
  }
  .container-fluid .col-lg-3, .container .col-lg-3 {
    grid-column: span 3;
  }
  .container-fluid .col-lg-4, .container .col-lg-4 {
    grid-column: span 4;
  }
  .container-fluid .col-lg-5, .container .col-lg-5 {
    grid-column: span 5;
  }
  .container-fluid .col-lg-6, .container .col-lg-6 {
    grid-column: span 6;
  }
  .container-fluid .col-lg-7, .container .col-lg-7 {
    grid-column: span 7;
  }
  .container-fluid .col-lg-8, .container .col-lg-8 {
    grid-column: span 8;
  }
  .container-fluid .col-lg-9, .container .col-lg-9 {
    grid-column: span 9;
  }
  .container-fluid .col-lg-10, .container .col-lg-10 {
    grid-column: span 10;
  }
  .container-fluid .col-lg-11, .container .col-lg-11 {
    grid-column: span 11;
  }
  .container-fluid .col-lg-12, .container .col-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1920px) {
  .container-fluid .col-xl-1, .container .col-xl-1 {
    grid-column: span 1;
  }
  .container-fluid .col-xl-2, .container .col-xl-2 {
    grid-column: span 2;
  }
  .container-fluid .col-xl-3, .container .col-xl-3 {
    grid-column: span 3;
  }
  .container-fluid .col-xl-4, .container .col-xl-4 {
    grid-column: span 4;
  }
  .container-fluid .col-xl-5, .container .col-xl-5 {
    grid-column: span 5;
  }
  .container-fluid .col-xl-6, .container .col-xl-6 {
    grid-column: span 6;
  }
  .container-fluid .col-xl-7, .container .col-xl-7 {
    grid-column: span 7;
  }
  .container-fluid .col-xl-8, .container .col-xl-8 {
    grid-column: span 8;
  }
  .container-fluid .col-xl-9, .container .col-xl-9 {
    grid-column: span 9;
  }
  .container-fluid .col-xl-10, .container .col-xl-10 {
    grid-column: span 10;
  }
  .container-fluid .col-xl-11, .container .col-xl-11 {
    grid-column: span 11;
  }
  .container-fluid .col-xl-12, .container .col-xl-12 {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 479px) {
  .container-fluid, .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 480px) and (max-width: 839px) {
  .container-fluid, .container {
    grid-template-columns: repeat(8, 1fr);
  }
}
